@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
    color: #000f;
  }
  
  img {
    display: block; /* Garante que as imagens sejam tratadas como blocos */
    max-width: 100%; /* Impede que as imagens sejam maiores do que seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
  }

