@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  @apply bg-gradient-to-r from-gray-50 to-gray-100;
  color: #000; 
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6; 
  margin: 0;
  padding: 0;
  max-height: 100vh; 
}

img {
  display: block; 
  max-width: 100%; 
  height: auto; 
}
